## Data Ingestion

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
# loop to create dict of dataframes, each df in dfs is one data table

# adjust file path as needed
folder_path = r'C:\Users\andre\OneDrive - Johns Hopkins\Documents\GitHub\theory_of_ml_for_pfas\data\raw_data'
dfs = {}

for f in os.listdir(folder_path):
    # only include data files, not metadata
    if f.endswith('.csv') and f != 'PFAS_Data_Dictionary.csv':
        key_name = os.path.splitext(f)[0]
        fp = os.path.join(folder_path, f)
        dfs[key_name] = pd.read_csv(fp,encoding='ISO-8859-1')

In [4]:
dfs.keys()

dict_keys(['PFAS_BLANK', 'PFAS_ENV', 'PFAS_GEOSPATIAL', 'PFAS_INORGANICS_AND_OTHER', 'PFAS_LAB_BLANK', 'PFAS_PHARMA', 'PFAS_REP', 'PFAS_SPIKE_FIELD', 'PFAS_SPIKE_LAB', 'PFAS_VOCs', 'PFAS_WELLS'])

In [5]:
dfs['PFAS_ENV'].head()

,NAWQA_ID,DATE,TIME,4_2 FTS-RMK,4_2 FTS-VA,6_2 FTS-RMK,6_2 FTS-VA,8_2 FTS-RMK,8_2 FTS-VA,N-EtFOSAA-RMK,...,PFPeS-RMK,PFPeS-VA,PFPeA-RMK,PFPeA-VA,PFTeDA-RMK,PFTeDA-VA,PFTrDA-RMK,PFTrDA-VA,PFUnA-RMK,PFUnA-VA
0,MIAMSUS1-01,8/21/2019,1200,<,8.0,<,8.0,<,8.0,<,...,<,4.0,n,1.7,<,4.0,<,4.0,<,4.0
1,MIAMSUS1-02,7/1/2019,1100,<,7.7,<,7.7,<,7.7,<,...,<,3.8,<,3.8,<,3.8,<,3.8,<,3.8
2,MIAMSUS1-03,7/2/2019,1100,<,7.7,<,7.7,<,7.7,<,...,<,3.8,<,3.8,<,3.8,<,3.8,<,3.8
3,MIAMSUS1-04,7/9/2019,1100,<,8.0,<,8.0,<,8.0,<,...,NaN,7.8,<,4.0,<,4.0,<,4.0,<,4.0
4,MIAMSUS1-05,7/10/2019,1100,<,8.0,<,8.0,<,8.0,<,...,<,4.0,<,4.0,<,4.0,<,4.0,<,4.0

In [8]:
dfs['PFAS_SPIKE_FIELD'].describe()

             TIME      MTXSPK
count   224.00000  224.000000
mean   1150.50000   87.263847
std     141.18334   11.456973
min    1013.00000   22.875000
25%    1113.00000   80.187500
50%    1113.00000   86.603460
75%    1113.00000   92.906073
max    1513.00000  122.375000

In [11]:
dfs['PFAS_GEOSPATIAL']

,NAWQA_ID,AGRI_12,NATU_12,URBA_12,N_LOAD,WSWT,FIRE_TRAIN,CEMT,CHEM,CLEAN,...,PETR,PLAS,TEXTILE,AIRNG,ARMNG,FIRE_ST,FRS,SUPER,OILREF,AIRP
0,MIAMSUS1-01,74.1,21.8,4.1,58,5166,97271,4986,37220,63000,...,7047,6371,30633,85255,7275,5279,368,40875,120274,9140
1,MIAMSUS1-02,90.5,6.4,3.2,64,1599,137857,34039,3545,2537,...,33141,6147,40594,25090,19790,4790,2557,36219,78304,6111
2,MIAMSUS1-03,80.0,1.8,18.2,249,8286,148911,8684,12053,14013,...,8612,5631,19810,7261,17133,2804,2956,19110,97923,7070
3,MIAMSUS1-04,32.7,0.0,67.3,140,2311,154435,28207,9197,7895,...,29071,5070,34443,14541,3948,4029,1139,37800,95976,2885
4,MIAMSUS1-05,99.1,0.9,0.0,42,6023,121951,46666,12359,13911,...,45280,20471,31283,40500,35719,7036,4451,37756,62520,10199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249,SURFPAS1-44,13.6,86.4,0.0,16,26024,170436,84602,30341,50883,...,30341,34181,31262,150905,38815,3178,4012,35439,179219,2364
250,SURFPAS1-43,6.9,93.1,0.0,61,31483,93725,67587,29691,27196,...,29691,34822,31696,104559,32394,7394,148,43304,101237,6497
251,SURFPAS1-45,0.0,100.0,0.0,31,6652,169354,89324,19975,68389,...,45483,19975,22723,146965,19719,6675,6182,54241,196650,17673
252,SURFPAS1-41,8.7,91.3,0.0,28,11491,65861,76458,4496,65859,...,4496,22037,42694,67827,13351,4959,10868,40934,66069,10353
253,SURFPAS1-42,0.0,100.0,0.0,63,35333,78633,79444,32121,41936,...,32121,49461,46765,91222,37967,3156,3668,56699,87431,20219